POSTGRES_DB=stockpilot
POSTGRES_USER=stockpilot
POSTGRES_PASSWORD=change-me
STOCKPILOT_MANAGER_USER=manager
STOCKPILOT_MANAGER_PASSWORD=change-me
STOCKPILOT_VIEWER_USER=viewer
STOCKPILOT_VIEWER_PASSWORD=change-me
